* {
    margin: 0;
    padding: 0; }
  
.section {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    padding: 2rem 2rem 2rem 2rem;
    margin-left: 2rem;
    margin-right: 2rem; }
  
.section:hover {
    color: #ffffff;
    background-color: #659839;
    border-radius: 10px 10px 10px 10px; }
.nav-donar {
    font-weight: bold;
    text-decoration: none;
    color: #ffffff!important;
    background-color: #659839;
    border-radius: 10px 10px 10px 10px;
}
.button-donar {
    color: #ffffff!important;
    background-color: #659839;
    border: none;   
    font-weight: bold;
}
.banner-index {
    background-image: url("../media/frente-hogar-cut.jpg");
    background-repeat: no-repeat;
    height: 20rem;
    width: 100%;
    justify-self: center;
}
.img-wrapper {
    position: relative;
  }
  
  .img-responsive {
    width: 100%;
    height: 20rem;
  }
  
  .img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .img-overlay:before {
    content: ' ';
    display: block;
    height: 50%;
  }