@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
* {
    margin: 0;
    padding: 0; }
body {
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  font-size: large;
  
}
.section {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 1rem 1rem 1rem;
    margin-left: 2rem;
    margin-right: 2rem; }
  
.section:hover {
    color: #ffffff;
    background-color: #0EAF71;
    border-radius: 10px 10px 10px 10px; }
.nav-donar {
  color: #ffffff!important;
  background-color: #0EAF71;
  border-radius: 10px 10px 10px 10px;
}
 
.footer {
  background-color: #0EAF71;
}
.profile {
  object-fit: cover;
  border-radius: 50%;
}
h2 span {
  background: #fff;
  padding: 0 10px; 
  }

h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #0EAF71;
  line-height: 0.1em;
  margin: 10px 0 10px;
  color: #0EAF71; 
  
}
.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.carousel-control-next,
 .carousel-control-prev {
  filter: invert(100%);
  
}
.padding {
  padding-top: 150px;
}
.padding-form {
  padding-top: 0;
}
.name {
  font-weight: bold;
  padding-top: 2rem;
}
.cargo {
  font-size: medium;
  margin-bottom: 1px;
}

h1, h3, .title {
  color: #0EAF71;
  font-weight: bold;
}
 .padding-prueba {
   padding-bottom: 2rem;
 }
 .slogan {
  padding-top: 2rem;
 }